:root{
    --single_bar_width: 50px;
    --padding_width: 25px;
    --numOfBars:4;
}
p{
    margin: 0;
    padding: 0;
}
body{
    margin: 0; padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    color: orange;
}
a{
    text-decoration: none;
}
.bg-image{
    background: url("assets/images/bg.png");
    filter: blur(3px);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    width: 100%;
    border: 3px solid green;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
}
#getInput{
    width: 80%;
    height: 90%;
    font-family: calibri;
    padding: 20px;
}
#getInput .input_fields{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25%;
    border-right: 1px solid gray;
}
.btn-submit-section{
    flex-grow: 1;
}
#inputArray{
    width: 80%;
    font-family: roboto;
    font-size: 20px;
    color: white;
    padding: 5px 20px;
    margin:10px 0;
    font-family: "fira code";
    border: 2px solid purple;
    border-radius: 50px;
    box-shadow: 5px 5px 8px gray;
    transition: width .5s ease-in-out, border-color .5s ease, box-shadow .5s ease;
    background-color: rgba(15, 15, 15, .1);
}
#inputArray:focus, #inputArray:hover{
    width: 85%;
    border-color: tomato;
    outline: none!important;
    box-shadow: 5px 5px 8px rgb(226, 142, 142);
}

.algo_selection label h2, .inputTitle{
    margin: 10px 0;
}

/* Algorithm Select styles */
#algorithm{ 
    width: 95%;
    outline: none;
    padding: 8px 5px;
    font-family: "fira code";
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color:white;
    margin-bottom: 20px;
    background-color: rgba(15, 15, 15, .1);
    border-radius: 20px;
    appearance: none;
    background: url("assets/images/arrowDown.png") no-repeat;
    background-size: contain;
    background-position: right;
    box-shadow: 2px 2px 8px rgba(117, 107, 117, .1);
    transition: background-color .5s ease, box-shadow .5s ease;
}
#algorithm:hover{
    background-color: rgba(32, 7, 7, 0.3);
    box-shadow: 2px 2px 8px rgb(66, 16, 7);
}
select option {
    margin: 40px;
    background: rgba(19, 6, 6, 0.3);
    color: black;
}

#searchBox p{
    font-family: calibri;
    font-size: 19px;
    font-weight: bold;
}
#searchBox input[type="number"]{
    padding: 5px 20px;
    width: 80%;
    border-radius: 20px;
    outline: none!important;
    border: 3px solid rgb(114, 128, 252);
    background-color: transparent;
    box-shadow: 2px 2px 8px rgba(128, 128, 128, .5);
    text-align: center;
    font-size: 20px;
    font-family: consolas;
    color: white;
    transition: border .5s ease;
}
#searchBox input[type="number"]:hover, #searchBox input[type="number"]:focus{
    border: 3px solid rgb(147, 255, 133);
}

.btn{
    padding: 8px 50px;
    border-radius: 5px;
    border: 2px solid black;
}

.btn-submit{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: rgb(255, 136, 0);
    display: block;
    margin: 19px auto;
    
    position: absolute;
    left: 50%;
    transform: translateX(-54%);
    width: 74%;
}
.btn-submit:hover{
    background-color: rgb(255, 168, 6);
}

#stage{
    position: absolute;
    top: 90% ;
    left: 60%;
    transform: translate(-50%, -50%);
    width: calc((var(--single_bar_width)*var(--numOfBars) + var(--padding_width)*var(--numOfBars)));
    display: flex;
    border-bottom: 1px solid black;
}
#stage .verticalBar{
    position: relative;
    flex: 1;
    text-align: center;
}
#stage  .verticalBar .common-style{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 3px;
    box-shadow: 5px 5px 8px #9f8181;
    padding: 10px;
    position: absolute;
    width: var(--single_bar_width);
    bottom:0;
    left:50%;
    transform: translate(-50%);
    font-family: "Fira Code";
    font-weight: bolder;
    color: black;
}
.verticalBar-1{
    background-color: green;
    height: 200px;
}
.verticalBar-2{
    background-color: yellow;
    height: 220px;
}
.verticalBar-3{
    background-color: tomato;
    height: 240px;
}
.verticalBar-4{
    background-color: red;
    height: 260px;
}

.display_head{
    display: none;     
    height: 10px;
    width: 50px;
    padding: 0 10px;     
    background: red;     
    z-index: 9999;     
    position: absolute;     
    bottom: -16px;     
    left: 50%;     
    transform: translate(-50%);
}
.show_display_head{
    display: block;
}